#progress {
  appearance: none;
}
#progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #f0f0f0;
}
#progress::-webkit-progress-value {
  border-radius: 10px;
  background: #6b54c4;
  background: -webkit-linear-gradient(to right, #9795f0, #fbc8d4);
  background: linear-gradient(to right, #9795f0, #fbc8d4);
}
