@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .liveBtn {
    @apply flex justify-center items-center rounded-full p-3 mx-1;
  }

  .blueBtn {
    @apply w-full h-full rounded-2xl shadow-sm text-white text-lg bg-BID_MAIN hover:bg-BID_HOVER_MAIN;
  }

  .liveRedBtn {
    @apply px-2.5 py-0.5 bg-[#FF0000] text-white rounded-[3px] italic font-semibold text-sm;
  }

  .detailLiveRedBtn {
    @apply w-full border rounded-xl border-red-500 font-bold flex p-3 justify-center items-center gap-2;
  }

  .detailBtn {
    @apply w-full py-3 text-white rounded-xl text-center text-base font-bold;
  }
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acR.woff2) format('woff2');
  font-display: swap;
}

body {
  /* font-family: 'LINESeedKR-Rg'; */
  font-family: 'NanumSquare';
  max-width: 500px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0px;
}
