@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .liveBtn {
    @apply flex justify-center items-center rounded-full p-3 mx-1;
  }

  .blueBtn {
    @apply w-full h-full rounded-2xl shadow-sm text-white text-lg bg-BID_MAIN hover:bg-BID_HOVER_MAIN;
  }

  .liveRedBtn {
    @apply px-2.5 py-0.5 bg-[#FF0000] text-white rounded-[3px] italic font-semibold text-sm;
  }

  .detailLiveRedBtn {
    @apply w-full border rounded-xl border-red-500 font-bold flex p-3 justify-center items-center gap-2;
  }

  .detailBtn {
    @apply w-full py-3 text-white rounded-xl text-center text-base font-bold;
  }
}

@font-face {
  font-family: 'KOTRA_GOTHIC';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'KOTRA_GOTHIC';
  max-width: 500px;
  margin: 0 auto;
}

.Toastify__toast {
  position: fixed;
  top: 25px;
  left: 0px;
  right: 0px;
  border-radius: 20px;
  color: white;
  text-align: center;
  margin: auto;
  width: 280px;
  padding: 0px 10px;
  height: auto;
  font-size: 15px;
  font-family: 'KOTRA_GOTHIC';
}

.Toastify__toast--info {
  background-color: rgb(73, 73, 73);
}

.Toastify__toast--success {
  background-color: rgb(40, 179, 66);
}

.Toastify__toast--error {
  background-color: rgb(255, 114, 114);
}

::-webkit-scrollbar {
  width: 0px;
}
